@font-face {
  font-family: Philosopher;
  src: url(./font/Philosopher/Philosopher-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./font/Roboto/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.continer {
  max-width: 1240px;
  margin: 0 auto;
}
